.nav-main {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.left-section {
  display: flex;
  align-items: center;
}

/* Logo */
.logo-div a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.logo-div a img {
  margin-right: 0.1rem;
}

.logo-div a p {
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 1000;
}

/* 按鈕列表 */
.nav-div ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
}

.nav-div ul li a {
  text-decoration: none;
  color: inherit;
}

/* 搜尋框 */
.search-div {
  display: flex;
  margin: 0 auto;
}

/* 登入按鈕 */
.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 3.5rem;
  border-radius: 75px;
  color: black;
  font-weight: 1000;
  font-size: 1.5em;
  border: 1px solid;
  text-decoration: none;
  color: inherit;
}

.login-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* 使用者和購物車圖案區塊 */
.cart-user-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10rem;
  gap: 1rem;
}

/* 購物車圖案 */
.navCartQuantityAndCart {
  position: relative;
}

/* 購物車圖示的數字 */
.navCartQuantity {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  width: 18px;
  height: 18px;
  right: -0.25rem;
  font-size: 0.8rem;
  background-color: red;
  border-radius: 75%;
  z-index: 1;
}

/* 會員名稱和下拉選單的區塊 */
.user-name-menu-div {
  position: relative;
}

/* 會員名稱 */
.user-name {
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
}

.user-name:hover {
  cursor: pointer;
}

/* 下拉選單 */
.dropdownMenu {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  list-style: none;
  background-color: white;
  border: 1px solid rgb(218, 215, 215);
  border-radius: 0.5rem;
  width: 8rem;
  position: absolute;
  top: 3rem;
  right: 0;
  z-index: 2;
  padding-left: 0;
}

.dropdownMenu li:hover {
  background-color: rgb(236, 236, 236);
}

.dropdownMenu a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
  padding-left: 1rem;
}

/* 登出按鈕 */
.logout-li {
  border-top: 1px solid rgb(218, 215, 215);
}

/* 餘額欄位 */
.navBalance {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  border-bottom: 1px solid rgb(218, 215, 215);
}
