.nav-main {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.left-section {
  display: flex;
  align-items: center;
}

/* Logo */
.logo-div a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.logo-div a img {
  margin-right: 0.1rem;
}

.logo-div a p {
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 1000;
}

/* 按鈕列表 */
.nav-div ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
}

.nav-div ul li a {
  text-decoration: none;
  color: inherit;
}

/* 搜尋框 */
.search-div {
  display: flex;
  margin: 0 auto;
}

/* 登入按鈕 */
.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 3.5rem;
  border-radius: 75px;
  color: black;
  font-weight: 1000;
  font-size: 1.5em;
  border: 1px solid;
  text-decoration: none;
  color: inherit;
}

.login-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* 選項 */
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 使用者選項和購物車的容器 */
.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5em;
  gap: 1vw;
}

/* 購物車圖示和數字的容器 */
.navCartQuantityAndCart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 購物車圖示的數字 */
.navCartQuantity {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  width: 18px;
  height: 18px;

  font-size: 12px;
  background-color: red;
  border-radius: 75%;

  z-index: 1;
}

/* 購物車圖示 */
.dropdown img {
  position: relative;
  right: 1em;
}

.dropdown img:hover {
  cursor: pointer;
}

.dropdown-toggle {
  position: relative;
}

/* 下拉選單 */
.dropdown-menu {
  transform: translateX(-10%);
}
