/* 整個頁面 */
.editItemPage {
  display: flex;
  justify-content: center;
}

/* 表格容器 */
.editContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.editItemH1 {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.quantityInput {
  border: 1px solid #ccc;
  border-radius: 10%;
}
